<div class="page">


<app-project-task-list></app-project-task-list>

    <div class="container">
        <div class="form-group">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">New Task</h5>
            </div>
            <div class="">
              <p class="form-group-item bottom-1">
                <label>TID:<input name="tid" min="100" max="999" class="form-control form-control-sm"  [(ngModel)]="taskData.tid" placeholder="100-999" required/></label>

                <label>Name:<input name="tname" class="form-control form-control-sm" [(ngModel)]="taskData.taskName" placeholder=""/></label>
                <label>Due Date:<input type="date" name="tdue" class="form-control form-control-sm" [(ngModel)]="taskData.tDueDate" placeholder=""/></label>
                <span id="action" class="container"> 
                    <button type="button" class="btn btn-dark btn-sm" (click)="addTask(project.id)">Add Task</button>  
                </span>  
            </p>
            </div>
        </div>
    </div>

</div>
